/* Universal Styling */
html {
  font-size: 16px;
  font-family: Helvetica;
  color: #424242;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
h2 {
  font-size: 1.25rem;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #424242;
}
section:nth-child(odd) {
  background-color: #c1c1c1;
}
.mobile {
  display: none;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}

/* Header */
header {
  height: 4rem;
  color: #424242;
  padding: 0.5rem 2rem;
  justify-content: space-between;
  align-items: center;
}
.headerleft {
  align-items: center;
}
header img {
  height: 3rem;
}
header p {
  font-size: 1.5rem;
  font-weight: bold;
}
header span {
  color: #c1c1c1;
}
header a {
  transition: all 0.25s ease;
}
li {
  padding: 1rem;
}
header a:hover, header a:active {
  opacity: 0.5;
}

/* Start Section */
.start {
  padding: 2rem 1.5rem;
  align-items: center;
}
.start img {
  width: 60%;
}
.start .flex {
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 1.5rem;
}
.start h1, .start p, .start a {
  margin: 1rem 0;
}
.start p {
  font-size: 1.5rem;
}
.start a {
  width: 90%;
  color: white;
  background-color: #424242;
  padding: 1rem;
  text-align: center;
  transition: all 0.5s ease;
}
.start a:hover, .start a:active {
  opacity: 0.5;
  transform: scale(1.03);
  box-shadow: 5px 5px 5px slategray;
}

/*Information Section */
.information {
  padding: 2rem 0 2rem 1.5rem;
}
.informationleft {
  width: 60%;
  overflow: hidden;
  margin-right: 1.5rem;
}
.informationleft img {
  width: 100%;
  margin-bottom: 2rem;
}
.information p {
  font-size: 0.9rem;
  margin: 1.5rem 0;
}
.informationright {
  width: 40%;
  overflow: hidden;
}
.inforow {
  overflow: hidden;
  padding: 1rem;
  transition: all 0.25s ease;
}
.inforow:hover {
  background-color: #c1c1c1;
  transform: scaleX(1.01);
}
.inforow img {
  width: 35%;
  height: 35%;
}
.info {
  width: 65%;
  padding: 1rem;
}
.info a {
  color: blue;
}

/* Courses Section */
.courses {
  padding: 2rem 4.5rem;
}
.courses img {
  width: 100%;
}
.courses h1 {
  text-align: center;
}
.courses h2 {
  margin: 1rem 0 0 1rem;
}
.courses p {
  margin: 1rem;
}
.courses .flex {
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.course {
  margin: 0.5rem;
  width: 30%;
  background-color: white;
  transition: all 0.5s ease;
}
.course:hover {
  background-color: lightblue;
  transform: scale(1.01);
  box-shadow: 3px 3px 10px #424242;
}

/*

/* Mobile Media Queries */
@media only screen and (max-width: 760px) {
  /* Universal Mobile Styling */
  .desktop {
    display: none;
  }
  .mobile {
    display: inherit;
  }
  /* Mobile Header */
  header {
    justify-content: space-around;
  }
  header img {
    height: inherit;
  }
  /* Mobile Start Section */
  .start {
    padding: 0;
    flex-direction: column;
  }
  .start img {
    width: 100%;
  }
  .start .flex {
    padding: 1rem;
  }
  /* Mobile Information Section */
  .information {
    padding: 0 1rem 2rem 1rem;
  }
  .information .mobile {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .information .mobile img {
    width: 100%;
    margin: 1rem 0;
  }
  .information .mobile a {
    color: blue;
  }
  /* Mobile Courses Section */
  .courses h2{
    margin: 0;
    font-size: 90%;
  }
  .course {
    color: white;
    width: 50%;
    padding: 1rem;
    box-shadow: 3px 3px 10px #424242;
  }
  .course:hover {
    transform: scale(1.0);
  }
  .course .flex {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .software {
    background-image: url("../images/course-software.jpg");
    background-size: cover;
  }
  .art {
    background-image: url("../images/course-computer-art.jpg");
    background-size: cover;
  }
  .design {
    background-image: url("../images/course-design.jpg");
    background-size: cover;
    background-position: center;
  }
  .data {
    background-image: url("../images/course-data.jpg");
    background-size: cover;
    background-position: 50% 60%;
  }
  .business {
    background-image: url("../images/course-business.jpg");
    background-size: cover;
    background-position: center;
  }
  .marketing {
    background-image: url("../images/course-marketing.jpg");
    background-size: cover;
    background-position: 50% 30%;
  }
}
